html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-group {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.control-label {
    margin-bottom: 0.5em;
}

.form-check-label {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
